@use '../../../../../styles/variables' as *;
.selected-menu-item {
  border-left: solid 5px;
  border-left-color: $baseGreen!important;
  transition: 250ms ease-in-out;
  background-color:$lightenBaseGreen !important;
}

.menu-item {
  border-left: solid 5px;
  border-left-color: transparent;
}
