@use '../../../../../styles/variables' as *;
.selected-menu-item {
  border-left: solid 5px;
  border-left-color: $baseGreen!important;
  transition: 250ms ease-in-out;
  background-color:$lightenBaseGreen !important;
}

.menu-item {
  border-left: solid 5px;
  border-left-color: transparent;
}

.submenu-item {
  border-left: solid 5px;
  border-left-color: $lightenBaseGreen;
  margin-inline-start: 24px!important;
}

.submenu-item-active {
  transition: 250ms ease-in-out;
  background-color: #cccccc !important;
}


