<!--
<div class="account_header">
  <img src="" alt="">
</div>

-->
<mat-nav-list>
  <a mat-list-item (click)="activate(item)" *ngFor="let item of menuItems()" matTooltip="{{ item.name }}" matTooltipPosition="right">
    <mat-icon matListItemIcon>
      {{ item.icon }}
    </mat-icon>

    <span matListItemTitle class="menu-text">
      {{ item.name }}
    </span>
  </a>
</mat-nav-list>

<!--
<mat-list>
  <ng-container *ngFor="let item of menuItems()">
    <app-menu-item [item]="item"></app-menu-item>
  </ng-container>
</mat-list>
-->
