<nav class="breadcrumb-custom shadow-sm p-3 mb-1">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" *ngFor="let breadcrumb of breadcrumbs; let last = last">
      <ng-container *ngIf="!last">
        <a href="#" (click)="navigateTo(breadcrumb, $event)" class="breadcrumb-link">
          {{ breadcrumb.label }}
        </a>
      </ng-container>
      <ng-container *ngIf="last">
        <span class="breadcrumb-label">{{ breadcrumb.label }}</span>
      </ng-container>
    </li>
  </ol>
</nav>
