@use '../../../../styles/variables' as *;

.alert-warning {
  background-color: $lightOrangeAlert;
  color: $darkOrangeAlert;
}
.dialog-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.mat-card {
  margin-bottom:0.5rem;
}

.alert-danger {
  background-color: $lightRedAlert;
  color: $darkRedAlert;
}

.alert-alert {
  background-color: $lightBlueAlert;
  color: $darkBlueAlert;
}

.alert-success {
  background-color: $lightenBaseGreen;
  color: $baseDarkGreen;
}

.container-columns {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.panel {
  flex: 1 1 50%;
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  background-color: #fafafa;
  max-height: 80vh;
  overflow: auto;
}

.full-width-table {
  width: 100%;
}
