<app-header
  (toggleLeft)="onLeftDrawerClick($event)"
>
</app-header>
<div class="main-container">
  <mat-sidenav-container class="mat-drawer-container">
    <mat-sidenav class="menu" [opened]="true" #leftDrawer position="start" mode="side">
        <app-menu></app-menu>
    </mat-sidenav>

    <mat-sidenav-content>
      <app-breadcrumb></app-breadcrumb>
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
