@use '../../../../styles/variables' as *;
:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.main-container {
  box-sizing:border-box;
  display:block;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.mat-drawer-container {
  height: 100%;
  width: 100%;
}

.menu {
  width: 300px;
  background-color: $baseWhite;
  border-right: solid 1px $baseGreen;
  border-top-right-radius: unset;
}

.drawer-second {
  width: 30vw;
  background-color: $baseWhite;
  border-top-left-radius: unset!important;
  border-left: solid 1px $baseGreen !important;
  z-index: 4;
}

.mat-toolbar {
  background-color: $baseWhite;
}

.content {
  height: 100%;
  overflow: hidden;
}
