@use '../../../../styles/variables' as *;
:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-container {
  box-sizing: border-box;
  display: block;
  height: 100%;
  overflow: hidden;
}

.menu {
  width: 300px;
  background-color: $baseWhite;
  border-right: solid 1px $baseGreen;
  border-top-right-radius: unset;
}

.mat-drawer-container {
  width: 100%;
  height: 100%;
}

.content {
  height: 100%;
  overflow: hidden;
}
