@use '../../../../styles/variables' as *;


tr:hover {
  background: $baseGreenLightenPastel;
}

tr:active {
  background: $lightenBaseGreen;
}

.mat-elevation-z8 {
  border-radius: 12px;
  overflow: hidden;
  background-color: $baseWhite;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
}

.selectedRow {
  background: $baseLightGrey;
}
